{% extends "vendas/base.html" %}
{% load static %}

{% block content %}

<body>

  <div class="appbar">
    <img src="https://cdn-icons-png.flaticon.com/512/4689/4689889.png" class="logo" />
    <span class="subtitle">Estatísticas de pequenos negócios</span>
    <a href="/">Página Inicial</a>
    <a href="/lucromensal">Lucro Mensal</a>
    <a href="/funcionarios">Lucro Mensal por Funcionário</a>
    <a href="/skus">Lucro Mensal por SKU</a>
    <a href="/produtos">Produtos</a>
  </div>

  <main class="container">
    <ul class="card-container">
        <div class="container-lucro">
            <h3 class="erro">Erro: Usuário tentou adicionar a venda de um produto não cadastrado</h3>
            <h3 class="erro">Favor se dirigir a Produtos na barra de acesso</h3>
            <img src="https://cdn-icons-png.flaticon.com/512/463/463612.png" class="error" />
        </div>  
  </ul>


  </main>

</body>

{% endblock %}