{% extends "vendas/base.html" %}
{% load static %}

{% block content %}

<body>

  <div class="appbar">
    <img src="{% static 'vendas/img/logo-vendas.png' %}" class="logo" />
    <span class="subtitle">Estatísticas de pequenos negócios</span>
    <a href="/">Página Inicial</a>
    <a href="/lucromensal">Lucro Mensal</a>
    <a href="/funcionarios">Lucro Mensal por Funcionário</a>
    <a href="/skus">Lucro Mensal por SKU</a>
  </div>

  <main class="container">
    <ul class="card-container">
            {% for funcionario in funcionarios %}
                <div class="funcionario-card">
                    <h3 class="funcionario-title" method="put">Funcionário {{funcionario.title}}</h3>
                    <h3 class="funcionario-content" method="put">Lucro Mensal:</h3>
                    <h3 class="funcionario-content" method="put">R${{funcionario.preco|floatformat:2}}</h3>
                </div>  
            {% endfor %}
  </ul>


  </main>

</body>

{% endblock %}