{% extends "vendas/base.html" %}
{% load static %}

{% block content %}

<body>

  <div class="appbar">
    <img src="{% static 'vendas/img/logo-vendas.png' %}" class="logo" />
    <span class="subtitle">Estatísticas de pequenos negócios</span>
    <a href="/">Página Inicial</a>
    <a href="/lucromensal">Lucro Mensal</a>
  </div>

  <main class="container">
    

    <form class="form-card" method="post">
      {% csrf_token %}
      <input
            class="form-card-title"
            type="text"
            name="titulo"
            placeholder="Funcionário"
          />
      <input
            class="form-card-title"
            type="text"
            name="content"
            placeholder="SKU do produto vendido"
          />
      <input
            class="form-card-title"
            type="text"
            name="quantity"
            placeholder="Quantidade de produtos vendidos no mês"
      />
      <input
            class="form-card-title"
            type="number"
            name="price"
            placeholder="Valor do produto vendido"
          />
      <button class="btn" type="submit">Criar</button>
    </form>

    <ul class="card-container">
      {% for venda in vendas %}

      <li class="card" key="{id}">
        <h3 class="card-title" method="put">{{venda.title}}</h3>
        <div class="card-content">
            <p class="card-content" method="put">{{venda.content}}</p>
            <p class="card-content" method="put">{{venda.quantity}}</p>
            <p class="card-content" method="put">{{venda.price}}</p>
        </div>
        <form method = "post" action = "\delete">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{venda.id}}" />
          <button type="submit"class="btn_change">Deletar</button>
        </form>
      </li>

      {% endfor %}
  </ul>


  </main>

</body>

{% endblock %}