{% extends "vendas/base.html" %}
{% load static %}

{% block content %}

<body>

  <div class="appbar">
    <img src="https://cdn-icons-png.flaticon.com/512/4689/4689889.png" class="logo" />
    <span class="subtitle">Estatísticas de pequenos negócios</span>
    <a href="/">Página Inicial</a>
    <a href="/lucromensal">Lucro Mensal</a>
    <a href="/funcionarios">Lucro Mensal por Funcionário</a>
    <a href="/skus">Lucro Mensal por SKU</a>
    <a href="/produtos">Produtos</a>
  </div>

  <main class="container">
    <ul class="card-container">
      {% for produto, lucro in lucros.items %}
        <div class="container-lucro">
            <h3 class="lucromensal" method="put">Lucro Mensal {{produto}}:</h3>
            <h3 class="lucromensal" method="put">R${{lucro|floatformat:2}}</h3>
        </div>  
      {% endfor %}
  </ul>


  </main>

</body>

{% endblock %}