{% extends "vendas/base.html" %}
{% load static %}

{% block content %}

<body>

  <div class="appbar">
    <img src="{% static 'vendas/img/logo-vendas.png' %}" class="logo" />
    <span class="subtitle">Estatísticas de pequenos negócios</span>
    <a href="/">Página Inicial</a>
    <a href="/lucromensal">Lucro Mensal</a>
    <a href="/skus">Lucro Mensal por SKU</a>
  </div>

  <main class="container">
    <ul class="card-container">
            {% for sku in skus %}
                <div class="container-sku">
                    <h3 class="sku-content" method="put">Lucro Mensal {{sku.content}}:</h3>
                    <h3 class="sku-content" method="put">R${{sku.preco|floatformat:2}}</h3>
                </div>  
            {% endfor %}
  </ul>


  </main>

</body>

{% endblock %}